* {
  font-family: 'Press Start 2P', cursive;
}

html,
body {
  background-color: rgb(20, 89, 154);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-board {
  background-color: rgb(182, 180, 180);
  width: 1300px;
  height: 550px;
  border: 15px solid rgba(0, 0, 0, 0.607);
  border-radius: 2rem;
  position: relative;
  transition: 0.6s ease-in;
}

.game-board div:first-child {
  background-color: orange;
}

.food {
  background-color: red;
}
.game-board div {
  border: 1px solid black;
  width: 10px;
  height: 10px;
  position: absolute;
  display: inline-block;
  background-color: green;
}

.score {
  display: flex;
  position: absolute;
  font-size: 2rem;
  top: 5%;
}

.btn {
  cursor: pointer;
  font-size: 2rem;
  transition: 0.4s;
}

.btn:hover {
  color: rgb(245, 245, 245);
  transform: scale(0.95);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: rgb(225, 222, 222);
}

.fa-solid {
  cursor: pointer;
  font-size: 2.5rem;
  transition: 0.7s;
}

.fa-solid:active {
  transform: scale(0.7);
}

.first-menu,
.pause-menu,
.final-menu {
  height: 25vh;
  width: 25vw;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  border-radius: 1.5rem;
  border: 2px solid black;
  position: absolute;
  background-color: rgb(161, 161, 161);
  box-shadow: 0px 0px 19px 7px #000000;
}
