html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 70vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.144);
  width: 60vw;
  height: 82.5%;
  border-radius: 15px;
  padding: 1vh;
}

.refresh {
  font-size: 5vh;
  padding: 3vh;
  border-radius: 20px;
  border: 3px solid rgb(13, 197, 13);
  color: rgb(13, 197, 13);
  background-color: white;
}

.refresh:hover {
  cursor: pointer;
  background-color: rgb(131, 131, 131);
}

.status-box {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.144);
}

.status-name {
  display: inline;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.2rem;
}

.first-half,
.second-half {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.description {
  display: none;
  position: absolute;
  bottom: -30px;
  left: 0;
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  padding: 0.3rem;
}

.date-updated {
  display: none;
  position: absolute;
  bottom: -48px;
  right: 0;
  text-align: center;
  background-color: #333;
  color: #fff;
  width: 220px;
  z-index: 1;
  border-radius: 5px;
  padding: 0.2rem 0;
}

.status {
  padding: 2vh;
  border-radius: 15px;
}

.date-updated {
  display: none;
  position: absolute;
  bottom: -48px;
  right: 0;
  text-align: center;
  background-color: #333;
  color: #fff;
  width: 220px;
  z-index: 1;
  border-radius: 5px;
  padding: 0.2rem 0;
}

.status:hover + .date-updated {
  display: block;
}

.first-half {
  width: 75%;
}

.spinner {
  width: 300px;
  height: 300px;
  margin-top: 40%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-section {
  position: absolute;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  border: 15px solid transparent;
  mix-blend-mode: overlay;
}

.spinner-section-red {
  animation: rotate 2s ease infinite;
  border-top: 15px solid rgb(137, 255, 137);
}

.spinner-section-blue {
  animation: rotate 2s ease-in-out infinite;
  border-top: 15px solid rgb(13, 197, 13);
}

.spinner-section-green {
  animation: rotate 1s ease infinite;
  border-top: 15px solid rgb(3, 73, 3);
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes text {
  0%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.1;
  }
}

.spinner-text {
  animation: text 3s ease-out infinite;
  font-size: 2em;
}

.hide {
  display: none;
}

@media (max-width: 768px) {
  .main-container {
    width: 85vw;
  }
  .container {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.144);
    width: 85vw;
    height: 60.5%;
  }

  .status-name {
    font-size: 1.2rem;
    font-weight: 300;
  }
}
