html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 70vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.144);
  width: 60vw;
  height: 82.5%;
  border-radius: 15px;
  padding: 1vh;
}

.refresh {
  font-size: 5vh;
  padding: 3vh;
  border-radius: 20px;
  border: 3px solid rgb(13, 197, 13);
  color: rgb(13, 197, 13);
  background-color: white;
}

.refresh:hover {
  cursor: pointer;
  background-color: rgb(131, 131, 131);
}

.status-box {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.144);
}

.status-name {
  display: inline;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.2rem;
}

.first-half,
.second-half {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.description {
  display: none;
  position: absolute;
  bottom: -30px;
  left: 0;
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  padding: 0.3rem;
}

.date-updated {
  display: none;
  position: absolute;
  bottom: -48px;
  right: 0;
  text-align: center;
  background-color: #333;
  color: #fff;
  width: 220px;
  z-index: 1;
  border-radius: 5px;
  padding: 0.2rem 0;
}

.status {
  padding: 2vh;
  border-radius: 15px;
}

.date-updated {
  display: none;
  position: absolute;
  bottom: -48px;
  right: 0;
  text-align: center;
  background-color: #333;
  color: #fff;
  width: 220px;
  z-index: 1;
  border-radius: 5px;
  padding: 0.2rem 0;
}

.status:hover + .date-updated {
  display: block;
}

.first-half {
  width: 75%;
}
