@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800&family=Lato:wght@100&family=Poppins:ital,wght@0,500;1,300&display=swap');
* {
  box-sizing: border-box;
}

:root {
  --font: 'Poppins', sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
  background-color: rgb(44, 145, 204);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.numbers-container {
  height: 15vh;
  width: 90vw;
  margin-top: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font);
  font-size: 4vh;
  border-radius: 15px;
  background-color: rgb(18, 95, 139);
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.min,
.max {
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#max {
}

.num {
  height: 30px;
  width: 75px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.label {
  font-size: 30px;
}

.output-container {
  height: 75vh;
  width: 100vw;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--font);
  color: white;
}

.output {
  font-size: 150px;
}

.btn {
  position: absolute;
  bottom: 5%;
  width: auto;
  font-family: var(--font);
  font-size: 30px;
  color: rgb(18, 95, 139);
  border-radius: 15px;
}

.btn:hover {
  background-color: rgb(18, 95, 139);
  color: #fff;
}

.btn:active {
  transform: scale(0.95);
}

@media (max-width: 750px) {
  .label {
    font-size: 20px;
  }

  .output {
    font-size: 200px;
  }
  .min,
  .max {
    flex-direction: column;
  }
  .num {
    height: 25px;
    width: 65px;
    font-size: 20px;
  }
  .btn {
    position: absolute;
    bottom: 5%;
    width: auto;
    font-family: var(--font);
    font-size: 30px;
    color: rgb(18, 95, 139);
    border-radius: 15px;
  }
}
