body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-image: url('https://images.unsplash.com/photo-1502570149819-b2260483d302?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  overflow: hidden;
}

.container {
  height: 150px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: rgba(199, 197, 197, 0.6);
  padding: 20px;
  border-radius: 25px;
  border: 2px solid black;
}

.inputs {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inputs input {
  width: 35%;
  border-radius: 5px;
  padding: 10px;
}

i {
  font-size: 30px;
  color: #fff;
}

.swap-buttons {
  width: 75%;
  display: flex;
  justify-content: space-around;
}

.btn {
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 15px;
}

.msg {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  color: rgb(233, 6, 6);
}
