html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-container {
  height: 46vh;
  width: 30vw;
  position: relative;
}

.img {
  height: 50vh;
  width: 30vw;
  border-radius: 1em;
}

.fas {
  position: absolute;
  font-size: 3vw;
  display: none;
}

.image-container:hover > .fas {
  display: block;
}

.fas:hover {
  color: white;
}

.fa-chevron-up {
  top: 0;
  left: 50%;
}

.fa-chevron-down {
  bottom: 0;
  left: 50%;
}

.fa-chevron-left {
  left: 0;
  top: 50%;
}

.fa-chevron-right {
  right: 0;
  top: 50%;
}

.upload {
  width: 40vw;
  background-color: rgba(129, 118, 53, 0.3);
  color: #fff;
  padding: 0.5em;
  border-radius: 1em;
  margin-top: 2.4em;
}

.upload p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn input {
  width: 25vw;
  padding: 0.5em;
  border-radius: 1em;
}

.btn button {
  width: 7.5vw;
  padding: 0.5em;
  border-radius: 1em;
}

.error-box {
  background-color: rgba(163, 28, 28, 0.6);
  color: #fff;
  padding: 0.5em;
  border-radius: 1em;
  transition: 1s;
  opacity: 0;
}

@media (max-width: 1350px) {
  .image-container {
    height: 45vh;
    width: 66vw;
  }

  .img {
    height: 45vh;
    width: 66vw;
    border-radius: 1em;
  }
  .upload {
    width: 75vw;
    font-size: 3vw;
    text-align: center;
  }

  .btn input {
    width: 45vw;
  }

  .btn button {
    width: 20vw;
  }
  .fas {
    position: absolute;
    font-size: 4vw;
    display: none;
  }
}

@media (max-width: 900px) {
  .image-container {
    height: 40vh;
    width: 62vw;
  }

  .img {
    height: 40vh;
    width: 62vw;
    border-radius: 1em;
  }
  .upload {
    width: 70vw;
    font-size: 3vw;
    text-align: center;
  }

  .btn input {
    width: 50vw;
  }

  .btn button {
    width: 15vw;
  }

  .fas {
    position: absolute;
    font-size: 5.5vw;
    display: none;
  }
}

@media (max-width: 750px) {
  .image-container {
    height: 50vh;
    width: 60vw;
  }

  .img {
    height: 50vh;
    width: 60vw;
    border-radius: 1em;
  }
  .upload {
    width: 70vw;
    font-size: 3vw;
    text-align: center;
  }

  .btn input {
    width: 65vw;
  }

  .btn button {
    width: 20vw;
  }

  .fas {
    position: absolute;
    font-size: 6vw;
    display: none;
  }
}

@media (max-width: 600px) {
  .image-container {
    height: 30vh;
    width: 65vw;
  }

  .img {
    height: 30vh;
    width: 65vw;
    border-radius: 1em;
  }
  .upload {
    width: 75vw;
    font-size: 3vw;
    text-align: center;
  }

  .btn input {
    width: 45vw;
    font-size: 3.5vw;
  }

  .btn button {
    width: 15vw;
    font-size: 3.5vw;
  }
  .fas {
    position: absolute;
    font-size: 7vw;
    display: none;
  }
}
