@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800&family=Josefin+Sans&family=Lato:wght@100&family=Poppins:ital,wght@0,500;1,300&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(64, 139, 189);
}

.container {
  width: 75vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

textarea {
  height: 300px;
  width: 400px;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  background-color: rgb(35, 68, 90);
  font-family: 'Poppins', sans-serif;
}

.buttons-container {
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.button {
  height: 60px;
  width: 120px;
  border-radius: 10px;
  font-size: 25px;
  color: rgb(35, 68, 90);
  background-color: rgb(255, 255, 255);
  transition: all 0.25s linear;
  border: none;
}

.button:hover {
  color: #fff;
  background-color: rgb(35, 68, 90);
  border-radius: 50%;
}

.button:active {
  transform: scale(1.1);
}

.convert {
  font-size: 15px;
  font-weight: bold;
}

.convert-to-csv {
  height: 100px;
  width: 60px;
  font-size: 20px;
  padding: 10px;
}

.alert {
  width: auto;
  border-radius: 30px;
  font-size: 35px;
  padding: 15px;
  text-align: center;
  color: #fff;
  background-color: rgb(136, 36, 36);
}

@media (max-width: 1100px) {
  .container {
    flex-direction: column;
    margin-top: 20px;
  }
  .input-area,
  .output-area {
    margin: 0;
  }
}

@media (max-width: 500px) {
  body {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  textarea {
    height: 200px;
    width: 60%;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    border: 15px solid rgb(129, 129, 129);
    background-color: rgb(85, 84, 84);
    color: white;
  }
  .input-area,
  .output-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 500px;
  }

  .buttons-container {
    width: 350px;
    justify-content: space-around;
  }

  .button {
    height: 30px;
    width: 80px;
    border-radius: 20px;
    font-size: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: rgb(78, 0, 97);
  }
}
