@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800&family=Josefin+Sans&family=Lato:wght@100&family=Press+Start+2P&display=swap');
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(78, 77, 77);
}

.main-menu,
.win-menu,
.fail-menu {
  padding: 1rem;
  display: grid;
  grid-gap: 0.09rem;
  grid-template-columns: repeat(2, 1fr);
  transition: 0.6s ease-in-out;
}

.box {
  width: 12rem;
  height: 12rem;
  font-size: 8rem;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.7s ease;
  background-color: transparent;
}

.box-inner {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  background-color: rgb(11, 187, 119);
  color: black;
}

.back {
  background-color: rgb(155, 40, 40);
  color: white;
  transform: rotateY(180deg);
  font-size: 2rem;
}

.double {
  width: 200%;
}

.mirror {
  background-color: rgb(155, 40, 40);
  transform: scaleX(-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.3rem;
  text-transform: none;
  font-size: 1.2rem;
  text-align: center;
}

.results {
  font-size: 1rem;
  padding: 0.5rem;
}

.general {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.play {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#play-easy,
#play-medium,
#play-hard,
#fail-play-easy,
#fail-play-medium,
#fail-play-hard,
#win-play-easy,
#win-play-medium,
#win-play-hard {
  cursor: pointer;
  width: 100%;
  height: 33.3%;
  font-size: 1rem;
  text-transform: uppercase;
  background: linear-gradient(
    143deg,
    rgba(187, 11, 11, 1) 55%,
    rgba(11, 187, 119, 1) 45%
  );
  color: #fff;
  font-weight: bold;
}

.game-container {
  position: relative;
  width: 100vw;
  height: 95vh;
  display: grid;
  justify-content: space-around;
  align-items: center;
}

.card {
  object-fit: contain;
  background-color: rgb(11, 187, 119);
  border: 1px solid black;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2.5%;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  text-align: center;
  text-transform: bold;
  transition: 0.7s;
  background-color: rgb(0, 189, 158);
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5%;
  transition: 1s linear;
  background-color: rgb(231, 133, 22);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
