* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .upper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.text2 {
  color: #fff;
}

.quarters-container,
.dimes-container,
.nickels-container,
.pennies-container {
  padding: 0.5em;
  margin: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input.principal {
  border-radius: 1rem;
  height: 3vh;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
  width: 4rem;
  color: #000;
}

.rest-money {
  height: 45vh;
  width: 70vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5vw;
  padding: 0.5rem;
  margin-top: 1vh;
}

.rest-money input {
  border-radius: 1rem;
  width: 5vw;
  height: 4vh;
  font-size: 1.3vw;
  padding: 0.5rem;
  text-align: center;
  color: #000;
}

.btn-convert {
  border-radius: 1rem;
  font-size: 1.3vw;
  padding: 0.5rem;
}

.btn-convert:hover {
  background-color: #000;
  color: #fff;
}

.btn-convert:active {
  transform: scale(0.95);
}

@media (max-width: 780px) {
  .container {
    width: 20rem;
  }
}

@media (max-width: 780px) {
  .text {
    font-size: 4vw;
  }
}

/* coin */

.coin {
  width: 10rem;
  height: 10rem;
  transform-style: preserve-3d;
}

.coin div {
  width: 100%;
  height: 100%;
  border: 3px solid black;
  border-radius: 50%;
  backface-visibility: hidden;
  position: absolute;
}

.heads-quarters {
  background-image: url('quarter.jpg');
  background-size: contain;
}

.heads-dimes {
  background-image: url('dime.png');
  background-size: contain;
}

.heads-nickels {
  background-image: url('nickel.jpg');
  background-size: contain;
}

.heads-pennies {
  background-image: url('pennies.png');
  background-size: contain;
}

.tails-quarters {
  background-image: url('quarter-back.jpg');
  background-size: contain;
}

.tails-dimes {
  background-image: url('dime-back.png');
  background-size: contain;
}

.tails-nickels {
  background-image: url('nickel-back.jpg');
  background-size: contain;
}

.tails-pennies {
  background-image: url('penny-back.jpg');
  background-size: contain;
}

.coin .tails {
  transform: rotateY(-180deg);
}

.animate-heads {
  animation: flipHeads 3s;
  animation-fill-mode: forwards;
}

@keyframes flipHeads {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(1800deg);
  }
}

.animate-tails {
  animation: flipTails 3s;
  animation-fill-mode: forwards;
}

@keyframes flipTails {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(1980deg);
  }
}
